
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    width: 100%;
}

nav h2 {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-wrap: wrap;   
}

nav ul li {
    font-size: 1rem;
}

.container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}


.card {
    flex: 1 1 30%;
    background: lightgray;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

@media (max-width: 480px) {

    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    nav ul li {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

}
