body{
    font-family: Arial;
    padding:20px;
    text-align:center;
}

form input{
    padding:8px;
    margin:5px;
}

button{
    padding:8px 12px;
}

table{
    width:80%;
    margin:auto;
    border-collapse:collapse;
}

th,td{
    border:1px solid #ccc;
    padding:10px;
}

@media(max-width:600px){
    table{
        width:100%;
    }
}